@import "theme-variables";

.navbar-brand a{
  color: darken($brand-secondary, 8%);
}

.form-search .form-inline .btn-primary,
.home-content .options .btn-primary{
  background: $brand-terciary;
  border-color: $brand-terciary;
}

.form-search .form-inline .btn-primary{
  background: $brand-secondary;
  border-color: $brand-secondary;
}

.budget-intro .budget-step h3 span{
  color: $brand-terciary;
}

#payments-search .data-controllers .slider.slider-horizontal {
  .slider-track,
  .slider-tick{
    background: white;
  }
}

#payments-search .data-controllers .slider.slider-horizontal .slider-tick.in-selection{
  background: $brand-secondary;
}

#payments-search .btn-primary{
  background: $brand-secondary;
  border-color: $brand-secondary;
}
#payments-search #btn-reset-form{
  background: lighten($brand-primary, 10%);
  border-color: lighten($brand-primary, 10%);
}

#query-panel .panel,
.tax-receipt-content #tax-amount{
  background: lighten($brand-primary, 10%);
  border: none;
}

.tax-receipt-content .form-user-incomings h3{
  color: $brand-primary;
}

.glossary-terms h3:before, 
.glossary-terms h4:before{
  color: $brand-primary;
}